# Server
NODE_ENV=development
PORT=3000

# MongoDB
MONGODB_URI=mongodb://localhost:27017/validaciones_api
MONGODB_TEST_URI=mongodb://localhost:27017/validaciones_api_test

# CORS
CORS_ORIGIN=*

# Logs
LOG_LEVEL=debug
